header{
    background-color: rgb(248, 173, 42);
    border: 2px solid black;
}
body{
    background-color: rgb(225, 212, 176);
}
footer{
    background-color: rgb(248, 173, 42);
    border: 2px solid black;
}