body {
    background-color: rgb(159, 159, 231);
    color:rgb(29, 21, 88);
}

h1, h2 {
    padding-left: 15px;
}

.c1 .caja {
    border: 3px solid white;
    background-color: rgb(129, 129, 207);
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}


.c1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.c1 img{
    float: bottom;
    margin-right: 1em;
}