article{
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    margin-bottom: 20px;
}

article {
    color: white;
    background-color: black;
}

footer{
    background-color: #9FAA74
     }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}