* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #1f4037, #99f2c8);
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00ffcc;
}


main {
    width: 80%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1f4037;
}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #145a32;
}


ul, ol {
    margin-left: 20px;
    margin-top: 10px;
}


dl {
    margin-top: 15px;
}

dt {
    font-weight: bold;
    color: #0b5345;
}

dd {
    margin-left: 20px;
    margin-bottom: 10px;
}


img {
    display: block;
    margin: 30px auto;
    width: 350px;
    border: double red 5px;
    border-radius: 50%;
    transition: 0.4s;
}

img:hover {
    transform: scale(1.05);
}


footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 5px;
}
