h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h2, h3 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
}

.pagina {
    background-color: lightcyan;
    margin: 10px;
    border: double;
    padding: 5px 10px;
}

.pagina h1 {
    text-align: center;
    margin: 0;
}

.pagina p {
    margin: 2px 0;
    padding: 0;
}

footer {
    background-color: lightcyan;
    margin: 10px;
    border: double;
    padding: 5px 10px;
}

footer address {
    margin: 0;
}

footer p {
    margin: 2px 0;
    padding: 0;
}

P {
    padding: 1%;
}

body {
    color: black;
    font-weight: bold;
    border: dotted black 10px;
    background-color: cyan;
}

header {
    background-color: lightcyan;
    border-color: black;
    border-style: double;
    margin: 10px;
}

main {
    background-color: lightcyan;
    margin: 10px;
    border-style: double;

}

ul { 
    font-style: italic;
    text-align: center;  
}

li {
    text-align: left;
    
}

dl {
    margin: 10px;
}

dt {
    font-weight: bold;
    font-size: large;
}

dd {
    margin-left: 20px;
}

h3 {
    padding-left: 10px;
}