header{
    background-color: rgba(59, 124, 184, 0.116);
}

header h2{
    background-color: rgba(59, 123, 184, 0.205);
}

h1 {
    border: dotted black 10px;
}

footer {
    background-color: rgba(59, 123, 184, 0.205);
}

article {
    border: 1px solid black;
    box-shadow: -5px 5px 10px rgba(143, 238, 217, 0.288);
    margin-bottom: 20px;
}

section h3 {
    background-color: rgba(174, 141, 212, 0.137);
}

span {
    background-color: #9ddbc35b;
    color: black;
    padding: 3px 6px;
    border-radius: 3px;
}

mark {
    background-color: #9ddbc35b;
}