body {
    background-image: url('img/FondoE2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.titulo {
    margin-top: 30px; 
    background-color: rgba(0, 0, 0, 0.637);
    color: rgb(123, 148, 172);
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    border: 2px solid #000000;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 60%;
    font-family: 'Times New Roman', Times, serif; 
}

.caja {
    border:  2px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.637);
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
    border-radius: 20px;
        color: rgb(123, 148, 172);
}

.div {
    margin-bottom: 1em;
}

img {
    width: 150px;
    height: 150px;
}
/* USANDO flex-direction */
.c1 {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}
/* USANDO flex-Wrap */
.c2 {
    display: flex;
    flex-wrap: wrap;
}
/* USANDO flex-flow */
.c3 {
    display: flex;
    flex-flow: column wrap;
    height: 375px;
    background-color: rgba(169, 198, 252, 0.212);    
}
/* USANDO justify-content */
.c4 {
    display: flex;
    justify-content: space-between;
}
/* USANDO align-items */
.c5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(169, 198, 252, 0.)
}

.img1{
width: 300px;
    height: 150px;
}
.img2{
width: 300px;
    height: 150px;
}
.img3{
width: 300px;
    height: 150px;
}
.img4{
width: 300px;
    height: 150px;
}
.img5{
width: 300px;
    height: 150px;
}