.header-container {
    display: flex;
    justify-content: center;
    background-color: #6a040f;
    color: #ffd60a;
    width: 85%;
    margin: 5px auto;
    padding: 0px;
    font-size: 110%;
}

.body-container {
    background-color: #17191b;
    width: 100%;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;

    .container-cuadro p {
        height: 510px;
        flex-grow: 1;
    }

    .container-cuadro {
        border: 5px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 24%;
        margin-top: 2%;
        box-sizing: border-box;
        height: 100%;

        .container-cuadro-main {
            flex-grow: 0;
            margin: 0 auto;
            padding-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            h2 {

                border: 6px double yellowgreen;
                width: 65%;
                color: #dc2f02;
                text-align: center;
                margin: 5px auto;
                padding: 5px 0;
            }

            img {

                width: 85%;
                border-radius: 10%;
                object-fit: cover;
                display: block;
                margin: 10px auto;
            }

            p {

                color: #dc2f02;
                text-align: justify;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1rem;
                border: 5px double gold;
                padding: 5%;
                margin: 5%;

            }

        }

    }
}

.container-cuadro-main2 {

    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2 {

        border: 6px double yellowgreen;
        width: 75%;
        color: #dc2f02;
        text-align: center;
        margin: 5px;
        padding: 6px;
    }

    img {

        width: 65%;
        height: 21%;
        border-radius: 10%;
        object-fit: cover;
        display: block;
        margin: 10px auto;
    }

    p {
        flex-grow: 1;
        border: 5px double yellowgreen;
        align-items: center;
        font-size: 1rem;
        color: #dc2f02;
        text-align: justify;
        margin: 5%;
        padding: 5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.container-cuadro-main3 {
    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    h2 {
        color: #dc2f02;
        border: 6px double yellowgreen;
        text-align: center;
        width: 75%;
        margin: 5px auto;
        padding: 6px;

    }

    img {

        width: 88%;
        height: 21%;
        border-radius: 10px;
        object-fit: cover;
        display: block;
        margin: 10px auto;
    }

    p {

        flex-grow: 1;
        border: 5px double yellowgreen;
        align-items: center;
        font-size: 1rem;
        color: #dc2f02;
        text-align: justify;
        margin: 5%;
        padding: 5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.container-cuadro-main4 {
    margin: 0 auto;
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2 {
        color: #dc2f02;
        border: 6px double yellowgreen;
        text-align: center;
        width: 85%;
        margin: 5px auto;
        padding: 6px;

    }

    img {

        width: 75%;
        height: 155px;
        border-radius: 10px;
        object-fit: cover;
        display: block;
        margin: 10px auto;
    }

    p {

        flex-grow: 1;
        border: 5px double yellowgreen;
        align-items: center;
        font-size: 1rem;
        color: #dc2f02;
        text-align: justify;
        margin: 5%;
        padding: 5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


}