body {
    border: 1px solid black;
    box-shadow: 5px 5px 5px violet;
    margin-bottom: 20px ;
}
nav {
  text-align: center; 
  margin: 20px 0;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  color: #fff;
  background-color: #ff00f2;
  border-radius: 8px;
}

 

.caja img {
    max-width: 100px;
    border-radius: 8px;
}



.boton:hover {
  background-color: #0056b3;
}

.c11 p {
    border: 1px solid blue;
    width: 200px;
    height: 100px;
    overflow: auto;
}

.caja1 img {
    max-width: 100px;
    border-radius: 8px;
}




.caja {
    border: 1px solid black;
    background-color: peachpuff;
 }


.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

div {
    margin-bottom: 1em;
}

.c5 {
    display: flex;
    flex-direction: row-reverse;
    
}
.cajam{flex-shrink: 1; background-color: darkslategrey;}

.c6 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 10%;
    flex-direction: 1;
}
.caja {
    flex-basis: 250%;
     border: 1px solid #ccc;
     padding: 10px;


}
.c7 {
    display: flex;
    flex-flow: column wrap;
    height: 100px;


 }
 /* Orden de los días */
.lunes     { order: 1; background-color: brown; }
.martes    { order: 2; background-color: rgb(123, 61, 74);}
.miercoles { order: 3; background-color: aqua; }
.jueves    { order: 4; background-color: cadetblue;}
.viernes   { order: 5; background-color: lightskyblue;}

.caja {
    flex-basis: 100%; 
    border: 1px solid #ccc;
    padding: 10px;
}


.c9 {
    display: flex;
    justify-content: space-around;
    gap: 30px;


}
.c9 .caja {
    font-size: 9px;                
    max-width: 100px;               
    text-align: center;  
}           



.c12 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: paleturquoise;
}