body {
    background-color: rgb(255, 244, 244);
}

header {
    background-color: rgba(128, 61, 61, 0.133);
}

h1 {
    border: dotted hsla(0, 27%, 46%, 0.625) 5px
}

footer {
    background-color: rgba(128, 61, 61, 0.133);
}

article {
    border: 1px solid black;
    box-shadow: 7px 7px 7px rgba(132, 61, 82, 0.433);
    margin-bottom: 20px;
    padding-left: 20px;
}

span {
    background-color: rgba(228, 207, 226, 0.885);
    color: rgb(0, 0, 0);
}

mark {
    background-color: rgba(244, 191, 213, 0.814);
}