article {
    border: 1px solid black;
    box-shadow: 5px 5px 5px red;
    margin-bottom: 20px;
}

/*se pone para que solo los h2 de article se cambien no todos los h2 en general */
article h2 {
    background-color: black;
    color: white;
}

