h1,
h2,
p {
    margin: 0;
    padding: 0;
    color: #dee2e6;
    font-family: "Playwrite NZ Basic";
    text-align: justify;

}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #6a040f;
    width: 95%;
    padding: 5px;
    font-size: 110%;
}

.body-container {
    background-color: #17191b;
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: space-evenly;

}

.top-container {
    width: 60%;
    margin-bottom: 3rem;
}

.elements-container {
    background-color: #660708;
    margin: 30px;
    padding: 30px;

    .img-container {
        .img-elements {
            display: flex;
            justify-content: space-between;

            img {
                width: 45%;
                height: 175px;
                margin: 10px;

            }
        }
    }
}

.headers-main {
    min-width: 100vw;
}

.main-classic h1 {

    margin: 0%;
    padding: 5px;
    color: #dee2e6;
    font-family: "Playwrite NZ Basic";
    font-size: 195%;
    text-align: center;
}

.main-classic {
    background-color: #6a040f;
    width: 98%;

}

.main-article {
    border: 1px solid #ffea00;
    box-shadow: 5px 5px 5px #ff9505;
    margin-bottom: 20%;
    margin-top: 4%;
    width: 96%;
    padding: 1%;
}

.main-article h2 {
    margin: 0%;
    padding: 0%;
    color: #dee2e6;
    font-family: "Playwrite NZ Basic";
    font-size: 190%;
    text-align: center;

}

.main-parrafo p {
    text-align: justify;
    font-size: 145%;
    margin-top: 3%;

}

.img-first{
    margin-top: 2%;
    .primera-img{
        img{
            border-radius: 10%;
            margin: 0 auto;
            width: 30%;
            display: block;
            box-shadow: 0 10px 15px #e5383b;
        }
    }
}


.main-coches {
    background-color: #6a040f;
    width: 100%;
    margin-top: 5%;
}
.main-coches h1 {
    text-align: center;
    font-size: 200%;
}
.parrafo-2 p {
    margin-top: 3%;
    text-align: justify;
    font-size: 135%;
}


.main-lista li {
    background-color: #5e6572;
    width: 45%;
    text-align: center;
    list-style-position: inside;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px #e85d04;
}

.main-lista {
    padding: 0%;
    margin: 0%;

}

.classic-container-top {
  margin: 0%;
  padding: 1%;
  width: 95%;
  background-color: #343a40;
  color: #ffea00;
  font-size: 155%;

  .classic-elements {
    padding: 2%;

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2%;

      .img-elements {
        display: flex;
        justify-content: space-between;
        gap: 20%;
        width: 100%;

        .img-item {
          width: 48%;

          li {
            margin-bottom: 1%;
            color: #e2c937;
            text-align: center;
            background-color: #6c757d;
            border-radius: 4%;
            width: 80%;
            border: 2px solid #ff6600; 
          }

          img {
            border-radius: 3%;
            margin-top: 3%;
            width: 100%; 
            aspect-ratio: 16/9; 
            display: block;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.classic-container-bottom {
  margin: 0%;
  margin-top: 2%;
  padding: 1%;
  width: 95%;
  background-color: #343a40;
  color: #ffea00;
  font-size: 155%;

  .classic-elements-bottom {
    padding: 2%;

    .img-container-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2%;

      .img-elements-bottom {
        display: flex;
        justify-content: space-between;
        gap: 20%;
        width: 100%;

        .img-item-bottom {
          width: 48%;

          li {
            margin-bottom: 1%;
            color: #e2c937;
            text-align: center;
            background-color: #6c757d;
            border-radius: 4%;
            width: 80%;
            border: 2px solid #ff6600; 
          }

          img {
            border-radius: 3%;
            margin-top: 3%;
            width: 100%; 
            aspect-ratio: 16/9; 
            display: block;
            object-fit: cover;
          }
        }
      }
    }
  }
}



.classic-history h1 {
    margin: 0%;
    padding: 5px;
    color: #dee2e6;
    font-family: "Playwrite NZ Basic";
    font-size: 190%;
    text-align: center;
}

.classic-history{
    background-color: #6a040f;
    width: 95%;
    margin-top: 3%;
}

.parrafo-historia {
    margin-top: 3%;
    text-align: justify;
    font-size: 130%;
}

.subtitulo {
    background-color: #660708;
    width: 98%;
    margin-top: 3%;
    

}
.subtitulo h2{
    font-size: 180%;
}

.lista_numeros ol li {
    background-color: #0b2545;
    text-align: left;
    color: #dee2e6;
    font-size: 120%;
    width: 95%;
    padding: 1%;
    text-align: center;

}

.seccion-main {
    background-color: #6a040f;
    padding: 6%;
    width: 85%;
    box-sizing: border-box;
    margin: 0 auto;

    .seccion-elements h2 {
        background-color: #0b2545;
        font-size: 200%;
        color: #e2c937;
        font-weight: bold;
    }

    .seccion-elements dt {
        margin-top: 2%;
        color: #dee2e6;
        font-size: 150%;
    }

    .seccion-elements dd {
        color: #dee2e6;
        font-size: 135%;
    }
}

.main-video{
    padding: 2%;
    margin: 2%;

    .main-h1{
        margin-top: -15%;
        background-color: firebrick;
        
        h1{

            text-align: center;
            font-size: 195%;

        }
    }
}

.video-elements{

    .video-item{
        margin-left: 25%;
        margin-top: -11%;
    }
}

.main-audio{
    background-color: royalblue;
    margin-top: 2%;
    margin: 3%;
    padding: 0%;

    .audio-t{
        h1{
            color: yellow;
            text-align: center;
        }

        h2{

            text-align: center;
            color: black;

        }

        
    }
}

.audio-container {
    display: flex;
    gap: 20px;
}

.audio-elements {
    flex: 1;  

    .audio-item {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 10px;

        img {
            border-radius: 10%;
            width: 75%;
            height: 300px;
            object-fit: cover;
            display: block;
        }

        audio {
            width: 65%;
        }
    }
}

.tabla-main{
    background-color: dodgerblue;
    margin-top: 3%;
    margin: 5%;
    .tabla-t{
        h1{
            text-align: center;
            color: yellow;
        }

    }
}

.tabla-elements {
    background-color: #0b2545;
    margin: 15%;
    margin-top: 2%;
    padding:36px;

    .tabla-item {
        margin-top: 2%;

        table {
            width: 80%;
            margin: 0 auto;       
            border-collapse: collapse;
        }

        th {
            background-color: orange;
            color: black;
            padding: 10px;
            text-align: center;
        }

        td {
            color: white;
            text-align: center;
            padding: 3%;
        }

        tr:hover {
            background-color: #1a3a6b; 
        }
    }
}

.main-formulario{
    background-color: royalblue;
    margin-top: -12%;
    .formulario-t{

        h1{
            text-align: center;
            color: yellow;
        }
    }
}

.main-formulario {
    font-family: 'Rajdhani', sans-serif;
}

.formulario-t h1 {
    color: yellow;
    text-align: center;
    padding: 20px;
}

.formulario-elements {
    background-color: #0b2545;
    margin: 15%;
    margin-top: 2%;
    padding: 55px;
    display: flex;
    justify-content: center;
}

.formulario-items {
    width: 100%;
}

.formulario-items form div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.formulario-items label {
    color: white;
    min-width: 200px;
}