body {
  background-color: #7538f0a2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.ps {
 text-align: left;
}

.ps nav a {
  color: rgb(0, 0, 0);
}

header {
  text-align: center;
  padding: 20px;
}

.Tema {
  font-size: 96px;
  margin-bottom: 5px;
}

.Yomi img {
  width: 30%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 800px rgba(255, 162, 11, 0.9);
}

.desc {
  font-size: 50px;
  margin-bottom: 5px;
}

.p1 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.kid img {
  width: 50%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 800px rgba(34, 255, 27, 0.9);
}

.p2 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

ol {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}


