body {
  background-color:   hsl(0, 0%, 0%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}



.ps {
 text-align: left;
 color: rgb(236, 236, 236);
}

nav a {
  color: rgb(73, 21, 80);
}

header {
  text-align: center;
  padding: 20px;
  color: rgb(94, 38, 91);
}

.Tema {
  font-size: 96px;
  margin-bottom: 5px;
}

.desc {
  font-size: 50px;
  margin-bottom: 5px;
}

.p1 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
  color: rgb(94, 38, 91);
}


p {

  color: rgb(94, 38, 91);
}


iframe {
width: 30%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 2000px rgb(58, 12, 54);

}


h2 {

color: rgb(94, 38, 91);
text-align: center;
}



audio {

width: 30%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 2000px rgb(58, 12, 54);

}

footer {

 color: rgb(94, 38, 91);
 
}
