body {
    background-color: rgb(210, 198, 190);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.ps {
    text-align: left;
    color: rgb(236, 236, 236);
}

nav a {
    color: rgb(238, 52, 182);
}

header {
    text-align: center;
    padding: 20px;
    color: rgb(238, 52, 182);
}

.Tema {
    font-size: 96px;
    margin-bottom: 5px;
}

.p1 {
    list-style-position: inside;
    padding: 0;
    text-align: center;
    color: rgb(238, 52, 182);
    font-size: 20px;
}

p {
    color: rgb(238, 52, 182);
    font-size: 20px;
}

h2 {
    color: rgb(238, 52, 182);
    text-align: center;
}


img {
   box-shadow: 0 0 200px rgb(196, 136, 191);
}


audio {
    width: 30%;
    display: block;
    margin: 20px auto;
}


.AbSi {
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
}

.Rosa {
    color: rgb(231, 124, 199);
}

.RosaObs {
    color: rgb(238, 52, 182);
}

.Sub {
    list-style-position: inside;
    padding: 0;
    text-align: left;
    color: rgb(238, 52, 182);
    font-size: 16px;
}


footer {
    color: rgb(238, 52, 182);
}







