body {
  background-color:   #3f0f0f;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.ps {
 text-align: left;
 color: rgb(236, 236, 236);
}

.ps nav a {
  color: goldenrod;
}

header {
  text-align: center;
  padding: 20px;
}

.Tema {
  font-size: 96px;
  margin-bottom: 5px;
  color: goldenrod;
  
}

.desc {
  font-size: 50px;
  margin-bottom: 5px;
  color: goldenrod;
}

.p1 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
  color: goldenrod;
}

.psyp {
  color: goldenrod;
}

footer {

  color: goldenrod;
}

.syp img {
  width: 30%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 250px rgb(253, 56, 56);
}

