body {
  background-color:   #1253cd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.ps {
 text-align: left;
}

.ps nav a {
  color: rgb(0, 0, 0);
}

header {
  text-align: center;
  padding: 20px;
}

.Tema {
  font-size: 96px;
  margin-bottom: 5px;
}

.desc {
  font-size: 50px;
  margin-bottom: 5px;
}

.p1 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.vid img {
  width: 30%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 80px rgba(241, 174, 40, 0.9);
}

dl {
  color: rgb(0, 0, 0);
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

h1 {

text-align: center;

}

