body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #ffffff, #f3c6ff);
}

header{
  background: linear-gradient(135deg, #6a5acd, #9f7aea);
  color:rgb(0, 0, 0);
  text-align:center;
  padding:30px;
}

nav{
  background:#d0a1cd;
  padding:12px;
  text-align:center;
}

nav a{
  color:white;
  margin:0 15px;
  text-decoration:none;
  font-weight:bold;
  transition:.3s;
}

nav a:hover{
  color:#ffd6f5;
}

main{
  padding:30px;
}

section{
  background:#ffffff;
  width:80%;
  margin:25px auto;
  padding:25px;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(106,90,205,.15);
}

h2{
  color:#6a5acd;
}

img{
  width:100%;
  border-radius:12px;
  margin-top:10px;
}

ul, ol{
  margin-left:20px;
}

form input, form select, form textarea{
  width:100%;
  padding:8px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  background:#ae8cc4;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  background:#6a5acd;
}

footer{
  background:#8a6cff;
  color:white;
  text-align:center;
  padding:15px;
  margin-top:40px;
}
