h4 {
    background-color: black;
    color: white;
}

article {
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(59, 56, 56);
    margin-bottom: 20px;
}

h4{
    text-align: center;
}

h1 {
    text-align: center;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 20px;
}