nav {
  margin-bottom: 50px;
  text-align: center;
}

nav a {
  text-decoration: none;
}

article {
  max-width: 900px;        
  margin: 5px auto;       
  padding: 20px;           
  border: 4px solid black;
  background-color: #c8e2e4;
  margin-top: 50px;
  border-radius: 2%;
}

body {
    background-color: aliceblue;
}

.texto {
    text-align: center;
}

.img {
    display: block;
  margin: 0 auto;

}