h1 {
  color: aliceblue;
}


p {
  color: aliceblue;
}

a {
    color: #3939d5d4;
}

article {
    border: 1px solid;
    margin-top: 20px;
    border: 4px solid rgb(23, 55, 83);
    border-radius: 5%;
    padding: 15px;
    
}

article header h2 {
  font-size: xx-large;
  background-color: aliceblue;
  
}

article section h3 {
  color: aliceblue;
}

li {
  color: rgb(23, 55, 83);
}